language: php
php:
  - 5.4
  - 5.5

before_script:
  - composer install --dev --prefer-source
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

script: ./vendor/bin/phpunit --coverage-text
